<% include partials/header %>

<div class="container">
    <h1 id="upcomingHeader">Upcoming launches</h1>
    <div class="row">
        <% data.launches.forEach(function(launch) { %>
            <div class="col-12 col-lg-12 col-xl-6 col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <strong><%= launch.name %></strong>
                    </div> 
                    <div class="card-body">
                        <p><strong>Launch Site: </strong> <%= launch.location.pads[0].name %></p>
                        <p><strong>Launch Time:</strong> <%= launch.windowstart %></p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".<%= launch.id %>">More Info.</button>
                        
                        <!--Large Modal-->
                        <div class="modal fade <%= launch.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <!--Modal Header-->
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><%= launch.name %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!--End Modal Header-->
                                
                                <!--Modal body-->
                                <div class="modal-body">
                                    <!--Creating tabs-->
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview-<%=launch.id%>" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                                        </li>                                        
                                        <li class="nav-item">
                                            <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission-<%=launch.id%>" role="tab" aria-controls="mission" aria-selected="true">Mission</a>
                                        </li>                                       
                                        <li class="nav-item">
                                            <a class="nav-link" id="rocket-tab" data-toggle="tab" href="#rocket-<%=launch.id%>" role="tab" aria-controls="rocket" aria-selected="true">Rocket</a>
                                        </li>                                        
                                        <li class="nav-item">
                                            <a class="nav-link" id="something-tab" data-toggle="tab" href="#something-<%=launch.id%>" role="tab" aria-controls="something" aria-selected="true">Something</a>
                                        </li>
                                        <!--<li class="nav-item">
                                            <a class="nav-link" id="livestream-tab" data-toggle="tab" href="#livestream-<%=launch.id%>" role="tab" aria-controls="livestream" aria-selected="true">Livestream</a>
                                        </li>-->
                                    </ul>
                                    <!--End tab creation-->
                                    
                                    <!--tab content-->
                                    <div class="tab-content" id="myTabContent">
                                        <!--id should be the same as href in navtab creation above-->
                                        <div class="tab-pane fade show active" id="overview-<%=launch.id%>" role="tabpanel" aria-labelledby="overview-tab">
                                            <p></p>
                                           <p>Window Start: <%= launch.windowstart %></p>
                                           <p>Window End: <%= launch.windowend %></p>
                                           <p>Launch Probability: <%= launch.probability %>%</p>
                                           <p>Launch Location: <%= launch.location.pads[0].name %></p>
                                           <p>Launch Service Provider: <%= launch.lsp.name %></p>
                                        </div>
                                        
                                        <div class="tab-pane fade" id="mission-<%=launch.id%>" role="tabpanel" aria-labelledby="mission-tab">
                                            <p></p>
                                            <% if(launch.missions.length > 0) { %>
                                               <p>Mission Name: <%= launch.missions[0].name %></p>
                                               <p>Mission Type: <%= launch.missions[0].typeName %></p>
                                               <p>Mission Description: <%= launch.missions[0].description %></p>
                                            <% } else { %>
                                               <p>Mission information not available</p>
                                            <% } %>
                                        </div>
                                        
                                        <div class="tab-pane fade" id="rocket-<%=launch.id%>" role="tabpanel" aria-labelledby="rocket-tab">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                           dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                        
                                        <div class="tab-pane fade" id="something-<%=launch.id%>" role="tabpanel" aria-labelledby="something-tab">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                           dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                        <!--<div class="tab-pane fade" id="livestream-<%=launch.id%>" role="tabpanel" aria-labelledby="livesteam-tab">
                                        <% if(launch.vidURLs.length == 0) { %>
                                            <p>Livestream Unavailable</p>
                                        <% } else { %>
                                            <div class="embed-responsive embed-responsive-16by9">
                                              <iframe class="embed-responsive-item" src="<%= launch.vidURLs[0] %>" allowfullscreen></iframe>
                                            </div>
                                        <% } %>
                                        </div>-->
                                    </div>
                                    <!--end tab content-->
                                </div>
                                <!--End modal body-->
                                
                                <!--Modal footer-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                <!--End Modal Footer-->
                              
                            </div>
                          </div>
                        </div>
                        <!--End Modal-->
                        
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>